<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title><%= view.layout_page_title %></title>
  <link rel="icon" type="image/png" href="<%= view.favicon_url %>"></link>
  <% view.stylesheet_urls.each do |style_url| %>
    <link href="<%= style_url %>" type="text/css" rel="stylesheet" />
  <% end %>
  <% view.javascript_urls.each do |script_url| %>
    <script src="<%= script_url %>" type="text/javascript"></script>
  <% end %>
</head>
<body>
  <div id="navBar">
    <ul>
      <li class="logo">
        <a href="<%= RomoDocsRouter.url_for(:index) %>">
          <img src="<%= view.logo_url %>" alt="Romo" />
        </a>
      </li>
      <li><a href="<%= RomoDocsRouter.url_for(:css_show) %>">CSS</a></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
